<footer>
    <div class="footer-bg">
        <div class="container">
            <div class="row photo">
                <div class="col-xs-12 col-sm-8 col-md-8">
                    @ 2013 Web world. All rights reserved. Them by cssautther
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <ul class="menu-icon pull-right row">
                        <li class="menu-item-icon col-xs-3"><a href="#" class="menu-link-icon"><i class="glyphicon glyphicon-facetime-video"></i></a></li>
                        <li class="menu-item-icon col-xs-3"><a href="#" class="menu-link-icon"><i class="glyphicon glyphicon-send"></i></a></li>
                        <li class="menu-item-icon col-xs-3"><a href="#" class="menu-link-icon"><i class="glyphicon glyphicon-comment"></i></a></li>
                        <li class="menu-item-icon col-xs-3"><a href="#" class="menu-link-icon"><i class="glyphicon glyphicon-new-window"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>