<header>

    <nav class="navbar navbar-default">

        <div class="container">
            <div class="pull-left" style="margin-top: 10px; height: 40px; width: 100px; background-color: #cccccc; text-align: center">Logo</div>


            <ul class="menu-icon pull-right row">
                <li class="menu-item-icon col-xs-3"><a href="#" class="menu-link-icon"><i class="glyphicon glyphicon-facetime-video"></i></a></li>
                <li class="menu-item-icon col-xs-3"><a href="#" class="menu-link-icon"><i class="glyphicon glyphicon-send"></i></a></li>
                <li class="menu-item-icon col-xs-3"><a href="#" class="menu-link-icon"><i class="glyphicon glyphicon-comment"></i></a></li>
                <li class="menu-item-icon col-xs-3"><a href="#" class="menu-link-icon"><i class="glyphicon glyphicon-new-window"></i></a></li>
            </ul>
        </div>

    </nav>



</header>