<!-- @@block= home -->


<!-- @@include header.html -->

<main>


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="z-index: 2; overflow: hidden;">


        <div class="menu-bg">
            <div class="container">
                <ul class="my-menu">
                    <li class="my-menu-item"><a href="#" class="my-menu-link" style="margin-left: 0">Home</a></li>
                    <li class="my-menu-item"><a href="#" class="my-menu-link">About us</a></li>
                    <li class="my-menu-item"><a href="#" class="my-menu-link">Help</a></li>
                    <li class="my-menu-item"><a href="#" class="my-menu-link">Blog</a></li>
                    <li class="my-menu-item"><a href="#" class="my-menu-link">Pages</a></li>
                </ul>

                <div class="pull-right" style="padding-top: 15px">
                    <input class=""  placeholder="Search Something" style="border-radius: 1px; color: #0f0f0f; padding: 5px">
                </div>

            </div>
        </div>



        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://placehold.it/1920x800" class="img">
                <div class="carousel-caption">
                    <h2> Lorem ipsum dolor sit amet, consectetur.</h2>
                </div>
            </div>
            <div class="item">
                <img src="https://placehold.it/1920x800" class="img">
                <div class="carousel-caption">
                    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, incidunt.</h2>
                </div>
            </div>
            <div class="item">
                <img src="https://placehold.it/1920x800" class="img">
                <div class="carousel-caption">
                    <h2> Lorem ipsum dolor sit amet.</h2>
                </div>
            </div>
            <div class="item">
                <img src="https://placehold.it/1920x800" class="img">
                <div class="carousel-caption">
                    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quisquam.</h2>
                </div>
            </div>
            <div class="item">
                <img src="https://placehold.it/1920x800" class="img">
                <div class="carousel-caption">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left padding-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right padding-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>


        <div class="menu-bg-bottom"></div>
    </div>




    <!--short-info-->

    <div class="container">
        <div class="short-info">
            <h2 style="text-transform: uppercase">Lorem ipsum dolor <strong style="color: #5c5c5c">sit amet, consectetur</strong> adipisicing elit. Nostrum, veniam?</h2>
            <p style="padding-top: 20px">
                <small >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi
                    aperiam architecto autem blanditiis, consequatur dolorem doloremque doloribus dolorum enim esse est expedita facilis fugiat fugit
                    id illum inventore laboriosam magnam minus mollitia natus nesciunt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, temporibus?
                    perspiciatis possimus, praesentium quis quisquam reiciendis similique sint sunt tempora velit voluptas voluptatum! Quos, saepe.</small>
            </p>
        </div>


        <div class="row paragraph">

            <div class="col-xs-12 col-lg-4">
                <h4><strong style="color: #5c5c5c">Lorem ipsum dolor sit amet.</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Culpa explicabo illum, iste nihil praesentium quaerat quisquam tempora ut veniam? Eligendi!</p>
            </div>

            <div class="col-xs-12 col-lg-4" style="margin-top: 50px">
                <h4><strong style="color: #5c5c5c">Lorem ipsum dolor sit amet.</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Culpa explicabo illum, iste nihil praesentium quaerat quisquam tempora ut veniam? Eligendi!</p>
            </div>

            <div class="col-xs-12 col-lg-4">
                <h4><strong style="color: #5c5c5c">Lorem ipsum dolor sit amet.</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Culpa explicabo illum, iste nihil praesentium quaerat quisquam tempora ut veniam? Eligendi!</p>
            </div>



        </div>

    </div>





    <!--gallery-->

    <div class="box"></div>
    <div class="gallery">

        <!-- section one-->
        <div class="photo container ">



            <div class="col-sm-6 col-md-4">
                <div class="thumbnail ">

                    <img src="https://lorempixel.com/400/250/nature/2" class="bg-photo-first">

                    <div class="caption">

                        <div class="text">

                            <h4><strong style="color: #5c5c5c">Lorem ipsum dolor sit amet.</strong></h4>

                            <p class="text-under-photo">Lorem  adipisicing elit.
                                Culpa explicabo illum, iste nihil praesentium quaerat quisquam tempora ut veniam? Eligendi!</p>

                        </div>

                    </div>
                </div>
            </div>



            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://lorempixel.com/400/250/nature/3" class="bg-photo-second">

                    <div class="caption">

                        <div class="text">

                            <h4><strong style="color: #5c5c5c">Lorem ipsum dolor sit amet.</strong></h4>

                            <p class="text-under-photo">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Culpa explicabo illum, am tempora ut veniam? Eligendi!</p>

                        </div>

                    </div>
                </div>
            </div>



            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://lorempixel.com/400/250/nature/1" class="bg-photo-third">

                    <div class="caption">

                        <div class="text">

                            <h4><strong style="color: #5c5c5c">Lorem ipsum dolor sit amet.</strong></h4>

                            <p class="text-under-photo">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Culpa explicabo tempora ut veniam? Eligendi!</p>

                        </div>

                    </div>
                </div>
            </div>



        </div>


        <!-- section two-->
        <div class="photo-two container ">



            <div class="col-sm-6 col-md-4">
                <div class="thumbnail ">

                    <img src="https://lorempixel.com/400/250/nature/2" class="bg-photo-first">

                    <div class="caption">

                        <div class="text">

                            <h4><strong style="color: #5c5c5c">Lorem ipsum dolor sit amet.</strong></h4>

                            <p class="text-under-photo">Lorem  adipisicing elit.
                                Culpa explicabo illum, iste nihil praesentium quaerat quisquam tempora ut veniam? Eligendi!</p>

                        </div>

                    </div>
                </div>
            </div>



            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://lorempixel.com/400/250/nature/3" class="bg-photo-second">

                    <div class="caption">

                        <div class="text">

                            <h4><strong style="color: #5c5c5c">Lorem ipsum dolor sit amet.</strong></h4>

                            <p class="text-under-photo">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Culpa explicabo illum, am tempora ut veniam? Eligendi!</p>

                        </div>

                    </div>
                </div>
            </div>



            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://lorempixel.com/400/250/nature/1" class="bg-photo-third">

                    <div class="caption">

                        <div class="text">

                            <h4><strong style="color: #5c5c5c">Lorem ipsum dolor sit amet.</strong></h4>

                            <p class="text-under-photo">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Culpa explicabo tempora ut veniam? Eligendi!</p>

                        </div>

                    </div>
                </div>
            </div>



        </div>


    </div>


    <!--advertising-->

    <div class="advertising">
        <div class="col-sm-6 col-md-3"></div>
        <div class="col-sm-6 col-md-3"></div>
        <div class="col-sm-6 col-md-3"></div>
        <div class="col-sm-6 col-md-3"></div>
    </div>




    <!--shot info-->

    <div class="short-info-footer">

        <div class="container" style="text-align: left">

            <div class="col-sm-6 col-md-3">
                <h2>Post</h2>
                <div class="strip">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, iusto.

                    <div style="color: #959595; margin-bottom: 20px">
                        <i class="glyphicon glyphicon-time" style="color: #00b0ff"></i> 25 September 2013
                    </div>
                </div>



                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, iusto.

                    <div style="color: #959595">
                        <i class="glyphicon glyphicon-time" style="color: #00b0ff"></i> 25 September 2013
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-2" style="margin-left: 30px">
                <h2>Tags</h2>
                <div class="wight">
                    Lorem ipsum <b>dolor sit amet</b>, consectetur adipisicing elit.
                    Ad cum maxime quaerat quo repudiandae ut, voluptatum?
                    Adipisci architecto corporis <b>ducimus</b> fuga harum ipsam molestias
                    perferendis, perspiciatis,<b> quae quidem </b> tenetur veniam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>

            </div>

            <div class="col-sm-6 col-md-3">
                <h2>A little about us</h2>
                <div class="wight">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ad cum maxime quaerat quo repudiandae ut, voluptatum?
                    Adipisci architecto corporis ducimus fuga harum ipsam molestias
                    perferendis, perspiciatis,
                    <p>
                        <br>
                        Luae quidem  tenetur veniam.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <h2>Get in touch</h2>
                <div class="wight">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ad cum maxime quaerat quo repudiandae ut, voluptatum?
                    Adipisci architecto corporis


                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<!-- @@include footer.html -->

<!-- @@ close-->